<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>This is the Blog page!</h1>
    <h3>I am so stoked for you to be here!</h3>
    <h3>As I progress throug this tutorial, this blog will be updated</h3>
  </body>
</html>
