---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle = {pageTitle}>
<h1>{pageTitle}</h1>
<h1>Hello! and welcome to my awesome blog site!</h1>
</BaseLayout>